<nav>
    <div class="nav-wrapper">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="#" class="waves-effect waves-light">Home</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light">About Us</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light">Portfolio</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light">Blog</a>
            </li>
            <li>
                <a href="#" class="waves-effect waves-light">Projects</a>
            </li> 
            <li>
                <a href="#" class="waves-effect waves-light">Contact Us</a>
            </li>
        </ul>
        <a href="#" class="right brand-logo">ITWEB</a>
    </div>
</nav>